/*Animated item images to expand when hovered over*/
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  /* Animation */
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Borders around images*/
img {
  border: 2px solid red;
}

h1 {
  text-align: center;
}